<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet" type='text/css'>
        <title>RateMyMajors</title>
    </head>
    <body>
        <header>
            <h1 class='name'>RateMyMajors &nbsp;<img src="images/westernLogo.png" alt="Western Logo"></h1>
            <br>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Home Page</a></li>
                <li><a href="search.html">Search a Major</a></li>
                <li><a href="https://www.westerncalendar.uwo.ca/">Academic Calendar</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <div class="aboutW">
            <div class="split left">
                <p class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11670.050311741392!2d-81.2737336!3d43.0095971!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaa87f353aab9799b!2sWestern%20University!5e0!3m2!1sen!2sca!4v1627057124288!5m2!1sen!2sca" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </p>
            </div>
            <div class="split right">
                <p class="pageTitle">About Western</p>
                <p class="description"> 
                    Western University is a public research university in London, Ontario, Canada. The main campus is located on 455 hectares (1,120 acres) of land, surrounded by residential neighbourhoods and the Thames River bisecting the campus's eastern portion.
                    The university was founded on 7 March 1878 by Bishop Isaac Hellmuth of the Anglican Diocese of Huron as the Western University of London, Ontario. It incorporated Huron College, which had been founded in 1863.
                </p>
    
            </div>
        </div>
        
        <div class="aboutUs">
            <div class="split left">
                <p class="pageTitle">About Us</p>
                <p class="description">This website is specifically created for rating majors that Western University offers. Your any rating regarding to courses are anonymous. 
                    You can also manage and edit your ratings. However, new majors that are instruducted in 2021 Fall are not in the system.
                </p>
            </div>
            <div class="split right">
            </div>
        </div>
       
        <div class="foot">
            <footer>
                <p class="copyright">© 2021 RateMyMajors UWO</p>
            </footer> 
        </div>
         
        
       
    </body>

</html>